<?xml version="1.0"?>

<launch>

    <node pkg="drone_navigation" name="drone_marker" type="drone_marker.py" output="screen" />

    <node pkg="drone_navigation" name="drone_navigation" type="drone_navigation" output="screen">
        <rosparam file="$(find drone_navigation)/config/navigation.yaml" command="load" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find drone_navigation)/rviz/octomap.rviz" output="screen" />

</launch>
