<?xml version="1.0"?>

<launch>

	<arg name="resolution" default="0.1"/>

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="$(arg resolution)" />
		<param name="frame_id" type="string" value="/map" />
		<remap from="cloud_in" to="/camera/depth/points" />
	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find drone_navigation)/rviz/octomap.rviz" output="screen" />

</launch>
