<launch>

<!--
<node pkg="atlas_drone" type="drone_odom" name="drone_odom"/>
-->

<include file="$(find rtabmap_ros)/launch/rtabmap.launch">
   <arg name="rgb_topic" value="/camera/data_throttled_image" />
   <arg name="depth_topic" value="/camera/data_throttled_image_depth" />
   <arg name="camera_info_topic" value="/camera/data_throttled_camera_info" />
   <arg name="compressed" value="true" />
   <arg name="rtabmap_args" value="--delete_db_on_start" />
   <arg name="visual_odometry" value="false" />
   <arg name="localization" value="false" />
   <arg name="odom_topic" value="/zed/odom" />
   <arg name="rviz" value="false" />
   <arg name="rtabmapviz" value="false" />

<!--
   <arg name="odom_frame_id" value="odom"/>
   <arg name="frame_id" value="base_link"/>
-->
</include>

<!--
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find atlas_drone)/rviz/rtabmap.rviz" output="screen" />
-->

</launch>
