<?xml version="1.0"?>

<launch>
    <arg name="drone_ai" default="true" />
    <rosparam file="$(find atlas_drone)/config/navigation.yaml" command="load" />

    <include file="$(find atlas_drone)/launch/simulation.launch" />
    <node pkg="atlas_drone" name="path_planner" type="path_planner" output="screen" />

    <node pkg="atlas_drone" name="uav1" type="uav1_marker.py" output="screen" />
    <!--
    <node pkg="atlas_drone" name="uav2" type="uav2_marker.py" output="screen" />
    <node pkg="atlas_drone" name="uav3" type="uav3_marker.py" output="screen" />
    -->

    <node pkg="atlas_drone" name="drone_navigation" type="drone_navigation" output="screen" />

    <group if="$(arg drone_ai)">
        <node pkg="atlas_drone" name="drone_ai" type="drone_ai" />
    </group>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find atlas_drone)/rviz/navigation.rviz" output="screen" />

</launch>
