<?xml version="1.0"?>

<launch>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server_" output="screen">
          <param name="resolution" value="0.1" />
          <param name="base_frame_id" value="base_link" />
          <remap from="cloud_in" to="/camera/depth/points" />
    </node>

    <node name="rviz_" pkg="rviz" type="rviz" args="-d $(find atlas_drone)/rviz/octomap.rviz" output="screen" />

</launch>
