<launch>
  <include file="$(find openni2_launch)/launch/openni2.launch">
     <arg name="depth_registration" value="True" />
  </include>

  <arg name="rate"  default="40"/>
  <arg name="decimation"  default="2"/> <!-- Reduce the image size, e.g., 2 means "width/2 x height/2". -->
  <arg name="approx_sync" default="true" />

  <!-- Use same nodelet used by Freenect/OpenNI -->
  <group ns="camera">
    <node pkg="nodelet" type="nodelet" name="data_throttle" args="load rtabmap_ros/data_throttle camera_nodelet_manager" output="screen">
      <param name="rate" type="double" value="$(arg rate)"/>
      <param name="decimation" type="int" value="$(arg decimation)"/>
      <param name="approx_sync" type="bool" value="$(arg approx_sync)"/>

      <remap from="rgb/image_in"       to="rgb/image_rect_color"/>
      <remap from="depth/image_in"     to="depth_registered/image_raw"/>
      <remap from="rgb/camera_info_in" to="rgb/camera_info"/>

      <remap from="rgb/image_out"       to="data_throttled_image"/>
      <remap from="depth/image_out"     to="data_throttled_image_depth"/>
      <remap from="rgb/camera_info_out" to="data_throttled_camera_info"/>
    </node>
  </group>

  <include file="$(find zed_wrapper)/launch/zed.launch" />

  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0.14 0 -0.2 0 0 0 /base_link /zed_center 100" />
  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_" args="0.14 0 -0.23 0 0 0 /base_link /camera_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher__" args="0 0 0 0 0 0 /map /map_zed 100" />

</launch>
