<launch>
    <arg name="mavros_transformation" default="0" />
    <arg name="world_path" default="$(find atlas_drone)/worlds/city.world" />
    <arg name="point_cloud_topic" default="/camera/depth/points" />

    <param name="use_sim_time" value="true" />

    <!-- Dynamic Reconfiguration Server
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" name="rqt_reconfigure" />
    -->

    <!-- Ros transformation -->

    <node pkg="tf" type="static_transform_publisher" name="tf_local_origin1"
          args="0 0 0 $(arg mavros_transformation) 0 0 world local_origin_1 10"/>
  <node pkg="tf" type="static_transform_publisher" name="tf_local_origin2"
        args="0 4 0 $(arg mavros_transformation) 0 0 world local_origin_2 10"/>
        <node pkg="tf" type="static_transform_publisher" name="tf_local_origin3"
              args="0 8 0 $(arg mavros_transformation) 0 0 world local_origin_3 10"/>

    <node pkg="tf" type="static_transform_publisher" name="tf_camera1"
          args="0 0 0 -1.57 0 -1.57 fcu1 camera_link1 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_camera2"
          args="0 0 0 -1.57 0 -1.57 fcu2 camera_link2 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_camera3"
          args="0 0 0 -1.57 0 -1.57 fcu3 camera_link3 10"/>

    <!-- Mavros and Sitl -->
    <include file="$(find atlas_drone)/launch/simulation_mavros_sitl.launch" >
        <arg name="world_path" value="$(arg world_path)" />
    </include>

    <!-- Octomap -->
    <include file="$(find atlas_drone)/launch/simulation_octomap.launch"/>

    <node name="octomap_throttler" type="throttle" pkg="topic_tools" args="messages /octomap_full 1 /octomap_throttled" />


    <node name="pointcloud_throttler_1" type="throttle" pkg="topic_tools" args="messages /uav1/camera/depth/points 1 /uav1/pointcloud_throttled" />

    <node pkg="atlas_drone" type="point_cloud_filter" name="pointcloud_filter_1" output="screen">
        <param name="drone_id" value="1" />
    </node>

    <node name="pointcloud_throttler_2" type="throttle" pkg="topic_tools" args="messages /uav2/camera/depth/points 1 /uav2/pointcloud_throttled" />

    <node pkg="atlas_drone" type="point_cloud_filter" name="pointcloud_filter_2" output="screen">
        <param name="drone_id" value="2" />
    </node>

    <node name="pointcloud_throttler_3" type="throttle" pkg="topic_tools" args="messages /uav3/camera/depth/points 1 /uav3/pointcloud_throttled" />

    <node pkg="atlas_drone" type="point_cloud_filter" name="pointcloud_filter_3" output="screen">
        <param name="drone_id" value="3" />
    </node>

</launch>
