<launch>
    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="ns" default="/"/>
    <arg name="world_path"/>
    <arg name="build" default="posix_sitl_default"/>
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <!-- <arg name="fcu_url" default="udp://:14547@localhost:14550"/> -->
    <arg name="gcs_url" default="" />   <!-- GCS link is provided by SITL -->
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="mavros_transformation" default="-1.57" />

    <param name="use_sim_time" value="true" />

    <!-- Launch PX4 SITL -->
    <include file="$(find px4)/launch/px4.launch">
    </include>

    <!-- Launch MavROS -->
    <group ns="$(arg ns)">
        <include file="$(find mavros)/launch/node.launch">
            <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
            <!-- Need to change the config file to get the tf topic and get local position in terms of local origin -->
            <arg name="config_yaml" value="$(find atlas_drone)/resource/px4_config.yaml" />
            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="gcs_url" value="$(arg gcs_url)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="tgt_component" value="$(arg tgt_component)" />
        </include>
    </group>

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world_path)" />
    </include>

    <!-- Spawn iris with depth camera -->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-sdf -database iris_depth_camera -model iris">
    </node>

<!--
    <group ns="uav1">
        <arg name="ID" value="1"/>
        <include file="$(find atlas_drone)/launch/simulation_single_vehicle.launch">
            <arg name="ID" value="$(arg ID)"/>
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>

            <arg name="fcu_url" default="udp://:14541@localhost:14581"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

    <group ns="uav2">
        <arg name="ID" value="2"/>
        <include file="$(find atlas_drone)/launch/simulation_single_vehicle.launch">
            <arg name="ID" value="$(arg ID)"/>
            <arg name="x" value="0"/>
            <arg name="y" value="2"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>

            <arg name="fcu_url" default="udp://:14542@localhost:14582"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

    <group ns="uav3">
        <arg name="ID" value="3"/>
        <include file="$(find atlas_drone)/launch/simulation_single_vehicle.launch">
            <arg name="ID" value="$(arg ID)"/>
            <arg name="x" value="0"/>
            <arg name="y" value="4"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>

            <arg name="fcu_url" default="udp://:14543@localhost:14583"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>
-->

</launch>
